*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background: #f0f1f3f5;
    font-family: "Poppins";
    -webkit-app-region: drag
}

main{
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}